In [1]:
import pandas as pd

In [2]:
m = pd.read_csv('./materials.txt')
v = pd.read_csv('./vendors.txt')

In [3]:
m.head()

   vendor_id        industry international hourly_rate min_contract_value
0          0      electrical             y        $140             $25000
1          2        plumbing             y        $200             $20000
2          5        concrete             y        $175            $200000
3          3          finish             y        $375            $100000
4          7  general supply             y        $150             $50000

In [4]:
v.head()

,vendor_id,name,address,phone
0,0,Volt Inc,1234 5th street; Los Angeles; CA; 90210,213-884-6500
1,2,Flush it,134 6th street; williamsburgh; PA; 06623,604-252-4000
2,5,Theoretical,34 3rd street; harrisburgh; PA; 06623,604-252-9020
3,3,supreme,1234 commonwealth ave ; Boston; MA; 06675,607-332-5553
4,7,supply general,15 State street; Detroit; MI; 21123,452-540-3999

In [73]:
def get_contractor(industry, hourly_rate):
    '''
    Returns info from materials.txt and vendors.txt
    files (hard coded) that meet the industry and
    hourly_rate criterion.
    
    Inputs:
    =======
    industry : string, desired industry (i.e. 'electrical', 'plumbing')
    hourly_rate : float, maximum hourly_rate to be returned
    
    Returns:
    ========
    prints to stdout, row(s) information meeting input criterion
    
    '''     
    # read in (statically) the materials and vendors csv files
    m = pd.read_csv('./materials.txt')
    v = pd.read_csv('./vendors.txt')
    
    # inner join the two files on vendor_id
    mv = pd.merge(m, v, how='inner', left_on='vendor_id', right_on='vendor_id')
    
    # create 'hourly_rate_parsed' column, which is the
    # float representation of 'hourly_rate'
    # NOTE: this assumes hourly_rate ALWAYS has a leading '$'
    mv['hourly_rate_parsed'] = mv['hourly_rate'].apply(lambda x: float(x[1:]))
    
    # could be cleaner, find a way to avoid duplication
    if hourly_rate == None:
        output_df = mv[ (mv['industry'] == industry) ][['name', 'address', 'phone']]
        for row in output_df.values:
            sep = ' '
            print(sep.join(row))
    else:
        output_df = mv[ (mv['industry'] == industry) & (mv['hourly_rate_parsed'] < hourly_rate) ][['name', 'address', 'phone']]
        for row in output_df.values:
            sep = ' '
            print(sep.join(row))

In [74]:
get_contractor('electrical', None)

Volt Inc 1234 5th street; Los Angeles; CA; 90210  213-884-6500
Bolt 4 12th street; williamsburgh; PA; 06623  604-252-4000

In [75]:
get_contractor('plumbing', 175)

free flow 24 5th street; williamsburgh; PA; 06623  604-252-4000